.sobre{
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.sobre__titulo{

    color:var(--vermelho_vinho);
    font-size: 51px;
    font-family: Pacifico;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 1em;
 
}

.sobre__descricao{

    color: #595959;
    font-size: 28px;
    font-family: Roboto;
    font-weight: 300;
    word-wrap: break-word;
    text-align: center;
}



@media screen and (min-width: 0) {
    .sobre {
        padding: 2.5rem 1rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre {
        padding: 2.5rem;
    }
}


@media screen and (min-width: 0px) {
    .sobre__titulo {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre__titulo {
        font-size: 3.1875rem;
    }
}

@media screen and (min-width: 0px) {
    .sobre__descricao {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre__descricao {
        font-size: 1.75rem;
    }
}